{% block content %}
    <section class="solutions_solution content g2 {{solution.class}}">
        <div>
            <h3>{{solution.nom}}</h3>
            <h2>{{solution.accroche}}</h2>
            <p>{{solution.description}}</p>
            <a class="main-button" href=" {{solution.lien}}">Découvrir {{solution.nom}}</a>
        </div>
        <img src="{{theme.path}}/assets/img/{{solution.image}}" alt=""/>
        
		{% if solution.background %}
            <img class="solutions_solution_background" src="{{theme.path}}/assets/img/{{solution.background}}" />
        {% endif %}
    </section>
{% endblock %}



    <div class="trust-us_avis">
        <div class="trust-us_avatar img_crop">
            <img src="{{theme.path}}/assets/img/avatar.jpg" />
        </div>
        <div class="trust-us_content">
            <p class="trust-us_desc">Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil. Lorem ipsum dolor amet valem setum dolor vale oler sole batum duneil.</p>
            <span class="trust-us_auteur">Sarah Connor, directrice innovation </span>
            <img class="trust-us_logo" src="{{theme.path}}/assets/img/logo.png" />
        </div>
        
        <div class="svg-container trust-us_background">
            <svg class="svg-content" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 538 268" style="enable-background:new 0 0 538 268;" xml:space="preserve">
                <defs>
                    <filter id="dropshadow" height="130%">
                    <feGaussianBlur in="SourceAlpha" stdDeviation="10"/> 
                    <feOffset dx="0" dy="0" result="offsetblur"/>
                    <feComponentTransfer>
                        <feFuncA type="linear" slope="0.12"/>
                    </feComponentTransfer>
                    <feMerge> 
                        <feMergeNode/>
                        <feMergeNode in="SourceGraphic"/> 
                    </feMerge>
                    </filter>
                </defs>
                <path class="st0" d="M514.3,0H23.7C10.6,0,0,10.6,0,23.7v199.5C0,236.4,10.6,247,23.7,247H415l19.5,21l19.5-21h60.3
                    c13.1,0,23.7-10.6,23.7-23.7V23.7C538,10.6,527.4,0,514.3,0z"/>
            </svg>
        </div>
    </div>